/*----group-1-----*/
.group-1 {
    background-color: rgb(16, 16, 16);
    background-image: url(world-cup-main/assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    padding-top: 40px;
    margin: 100px;
    border-radius: 20px;
}

.group-1 h1 {
    color: white;
    font-size: 40px;
    margin-left: 30px;
}

.group-1 p {
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

/* link-button.......*/
.link-button {
    color: rgb(251, 17, 17);
    padding: 12px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(191, 221, 216);
    margin: 20px;
    border-radius: 5px;
}

/* group-2.............*/
.group-2 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: end;
}

/*......button.........*/
.button {
    color: rgb(18, 144, 255);
    padding: 8px 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
}

/*.....footer......*/
.footer {
    background-color: rgb(19, 46, 97);
    text-align: center;

}

.up-part {
    text-align: center;
    background-color: rgb(88, 107, 219);

}

.down-part {
    color: rgb(23, 63, 175);
    flex-direction: column;
    text-align: center;
}

.media-link {
    color: rgb(181, 181, 90);
}