/*----group-1-----*/
.group-1 {
    display: flex;
    background-color: rgb(16, 16, 16);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    margin: 80px;
    border-radius: 20px;
}

.group-1 h1 {
    color: white;
    font-size: 40px;
    margin-left: 30px;
}

.group-1 p {
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

/* link-button.......*/
.link-button {
    color: rgb(251, 17, 17);
    padding: 12px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(191, 221, 216);
    margin: 20px;
    border-radius: 5px;
}

/* group-2.............*/
.group-2 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-between;
}

.match-sedule-1 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

/*......button.........*/
.button {
    color: rgb(18, 144, 255);
    padding: 8px 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
}

/*.....footer......*/
.footer {
    background-color: rgb(19, 46, 97);
    text-align: center;

}

.up-part {
    text-align: center;
    background-color: rgb(88, 107, 219);

}

.down-part {
    text-align: center;
    color: rgb(23, 63, 175);
    background-color: bisque;
}

.media-link {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: bisque;
}

/*......media query.....*/
/*mobile-device......*/

@media screen and(min-with:688px) {
    .group-1 {
        width: 100%;
    }

    .banner-left {
        flex-direction: column;
    }

    .banner-right {
        flex-direction: column;
    }

    .group-2 {
        color: red;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*.......tablet.....*/
@media only screen and (min-width:688px) and(max-width:992px) {
    .group-1 {
        width: 100%;
    }

    .banner-left {
        flex-direction: column;
    }

    .banner-right {
        flex-direction: column;
    }

    .group-2 {
        color: yellow;
        grid-template-columns: repeat(2, 1fr);
    }

}